#widget{
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.box {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}